{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                {% for i in tableHead %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
{#                {% for list in tableBody %}#}
{#                    <tr>#}
{#                    {% for val in list %}#}
{#                        <td>{{ val }}</td>#}
{#                    {% endfor %}#}
{#                    </tr>#}
{#                {% endfor %}#}
            </tbody>
        </table>
    </div>
{% endblock %}